<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	
	<!--开启属性注解  -->
	<!-- <context:annotation-config/> -->
	
	<!--开启包扫描 
		base-package="pojo"  指定的包路径
		如果包的个数较多，使用“,”号分割
		只要给定了包路径，就会扫描给定包的全部子孙包
		只要开启包扫描   默认开启属性注解
	 -->
	<context:component-scan base-package="pojo"/>
	
	
	<!-- <bean id="user" class="pojo.User"/>
	<bean id="dogA" class="pojo.Dog"/>
	<bean id="dogB" class="pojo.Dog"/>
	<bean id="catB" class="pojo.Cat"/> -->
	
</beans>