<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<bean id="dog" class="pojo.Dog"></bean>
	<bean id="cat" class="pojo.Cat"></bean>
	
	
	<bean id="user" class="pojo.User" >
		<!--
			ref="" 表示对象的引用
		  -->
		<property name="dog" ref="dog"/>
		
		<property name="cat" ref="cat"/>
		
		
		<!--为简单属性赋值  -->
		<property name="id" value="100"/>
		<property name="name" value="孙尚香"/>
		
		<!--为集合赋值  -->
		<property name="list">    <!--ArrayList  -->
			<list>
				<value>上单</value>
				<value>中单</value>
				<value>打野</value>
				<value>射手</value>
				<value>肉盾</value>
			</list>
		</property>
		
		<property name="set">
			<set>
				<value>一</value>
				<value>一</value>
				<value>二</value>
			</set>
		</property>
		
		<property name="map">
			<map>
				<entry key="1" value="1"/>
				<entry key="2" value="2"/>
				<entry key="3" value="3"/>
			</map>
		</property>
		
		<property name="pro">
			<props>
				<prop key="一">一</prop>
				<prop key="二">二</prop>
				<prop key="三">三</prop>
			</props>
		</property>
		
	</bean>
	
	
	
</beans>