<?xml version="1.0" encoding="UTF-8"?>
<!--最基本的spring头文件约束 主要作用是使下面的标签被spring框架标识和标签快捷补全-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="controller.UserController" />
</beans>