<?xml version="1.0" encoding="UTF-8"?>
<!--最基本的spring头文件约束 主要作用是使下面的标签被spring框架标识和标签快捷补全-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
		id：是bean的唯一标识符  严禁重复
		id的命名规则：首字母小写，之后驼峰规则
		class：类的类型  包名.类名
		尽量使用时自动提示功能，避免输入错误
		class的配置其实就是反射
	  -->
    <!--
		scope="singleton" 如果配置为singleton为单例对象,对象只存一个
		scope="prototype" 表示多例对象
	  -->
    <bean id="user" class="controller.UserController"  scope="singleton"/>
    <!--通过静态工厂创建对象
		id="标示符"
		class="工厂的类型"
		factory-method="工厂方法"
	  -->
    <bean id="calendar" class="factory.StaticFactory"
          factory-method="getCalendar"/>


    <!--实例工厂创建对象
        factory-bean:工厂bean的Id
        factory-method:工厂方法
      -->
    <!--
    <bean id="newFactory" class="factory.NewInstanceFactory"/>

    <bean id="calendar2" factory-bean="newFactory" factory-method="getCalendar"/>
    -->

    <!--spring工厂  -->
    <bean id="calendar3" class="factory.SpringFactory"/>
</beans>